################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Mwd.Exceptions.Solution/.vs/Mwd.Exceptions.Solution
