################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Mwd.Exceptions.Solution/.vs/Mwd.Exceptions.Solution
/src/Mwd.Exceptions.Solution/Mwd.Exceptions/bin/Debug/netstandard2.0
/src/Mwd.Exceptions.Solution/Mwd.Exceptions/obj
/src/Mwd.Exceptions.Solution/Mwd.Exceptions/bin/Debug
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/bin/Debug
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/obj
/src/Mwd.Exceptions.Solution/TestResults/5beacd86-10d1-44b4-9a0c-14139a849ec3
/src/Mwd.Exceptions.Solution/Mwd.Exceptions/bin/Release
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/bin/Release/net461
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/bin/Release/netcoreapp2.0
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/TestResults
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/Properties/PublishProfiles
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/Mwd.Exceptions.Test.csproj.user
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/coverage.opencover.xml
/src/Mwd.Exceptions.Solution/Mwd.Exceptions.Test/coverage.cobertura.xml
/src/Mwd.Exceptions.Solution/TestResults/bdfe3085-a30c-4217-a06a-178f36055e1a
